.users{
  padding-left:5vw;
  padding-right:5vw;
  padding-top:5vw;
}

.users h1{
  text-align:center;
}
.users .personas{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  margin-top:5vw
}
.users .personas div{
  max-width:300px;
  padding:10px;
  position:relative;
  margin:auto;
}
.persona1{
  color:#D2597F
}
.persona2{
  color:#4FBAD9
}
.persona3{
  color:#A1CB60
}
.persona4{
  color:#F3D24A
}
