@import "variables.scss";

body {
	height: 100%;
	font-family: $f_0, $f_1;
	min-height: auto;
	.header {
		min-height: 60px;
		background-color: $c_blue;
		.navbar-brand {
			font-family: $f_0;
			font-size: 24px;
			font-weight: bold;
			color: $c_gravel;
		}
		.navbar-light .navbar-nav {
			.nav-link {
				font-family: $f_0;
				font-size: 12px;
				font-weight: bold;
				color: $c_white;
				text-transform: uppercase;
			}
			.active .nav-link {
				color: $c_gravel;
			}
		}
		.dropdown-menu a {
			font-size: 12px;
			color: $c_gravel;
		}
    }
    .intro {
        background-image: linear-gradient(to bottom, $c_blue, $c_bondi_blue);
        padding: 0 0 0 20px;
    }
	&.landing {
		.header {
			background-color: $c_charm;
		}
		.intro {
			background-image: linear-gradient(to bottom, $c_charm, $c_night_shadz);
		}
    }
    &.umbrella {
		.header {
			background-color: $c_energy_yellow;
		}
		.intro {
			background-image: linear-gradient(to bottom, $c_energy_yellow, $c_saffron);
		}
	}

	&.tent {
		.header {
			background-color: rgba(135, 189, 52, 0.73);
		}
		.intro {
			background-image: linear-gradient(to bottom, rgba(135, 189, 52, 0.73), #87bd34);
		}
	}
}

img {
	max-width:100%
}

.btn-spaced {
	margin-top: 20px;
}

.intro, .get-umbrella {
	h1 {
		font-size: 48px;
		font-weight: bold;
		color: $c_white;
		margin: 50px 0;
	}
	.home-description {
		font-family: $f_0;
		font-size: 18px;
		color: $c_white;
		line-height: 1.8;
	}
	.download {
		font-family: $f_0;
		font-size: 10px;
		padding: 10px 0;
		color: $c_white;
		text-transform: uppercase;
		font-weight: bold;
    }
    .list-inline-item {
        margin-right: 30px;
    }
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.spacer-top150 {
	margin-top: 150px;
}

.spacer-top100 {
	margin-top: 100px;
}

.spacer-bottom150 {
	margin-bottom: 150px;
}

.spacer-bottom30 {
	margin-bottom: 30px;
}

.spacer-top30 {
	margin-top: 30px;
}

.spacer-top70 {
	padding-top: 70px;
}

.spacer-bottom400 {
	margin-bottom: 400px;
}

.spacer-bottom200 {
	margin-bottom: 200px;
}

.stores {
	padding: 20px 0;
	margin-bottom: 100px;
	.row {
		padding: 0 20px
	}
	img {
		margin-bottom: 20px;
	}
}

.hero-app {
    position: absolute;
    right: 0;
    top: 50px;
}

.app-name {
	font-family: $f_0;
	font-size: 65px;
	font-weight: bold;
	color: $c_star_dust;
	text-align: center;
	span {
		padding: 0 20px;
		display: inline-block;
		vertical-align: text-top;
	}
}

.newsletter {
	background-color: $c_black_haze;
	padding: 100px 0;
	background-image: $u_0;
	background-repeat: no-repeat;
	background-position: center;
}

.mask {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 12px;
	background-color: $c_white;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 2px 15px 0 $black_35;
	padding: 30px;
}

.copy {
	color: $c_fuscous_gray;
	padding: 20px 0;
	border-top: $c_heavy_metal 1px solid;
}

.btn-primary {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 22.5px;
	background-color: $c_sushi;
	border: $c_sushi 1px solid;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 2px 15px 0 $black_35;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	padding: 10px 20px;
}

.btn-white {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 22.5px;
	background-color: #ffffff;
	border: #ffffff 1px solid;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 2px 15px 0 $black_35;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	padding: 10px 20px;
}


.btn {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 1.5rem;
}

.data {
	text-align: center;
	color: $c_mountain_mist;
}

.text-center {
	text-align: center;
}

.yellow {
	background-color: $c_saffron;
	padding-bottom: 70px;
}
footer {
	background-color: $c_log_cabin;
	color: $c_star_dust;
	font-size: 14px;
	min-height: 200px;
	h5 {
		text-transform: capitalize;
	}
	li {
		text-transform: capitalize;
	}
	ul {
		padding: 0;
		li {
			list-style-type: none;
			list-style: none;
		}
	}
}

.fab {
	color: $c_saffron;
	font-size: 30px;
	padding: 20px;
}

.content {
	margin-top: 50px;
	margin-bottom: 50px;
}

.dropdown {
	position: relative;
	display: inline-block;
	.dropdown-content {
		display: none;
		padding: 0;
		position: absolute;
		z-index: 1;
		text-align: right;
	}
	&:hover .dropdown-content {
		display: block;
	}
	img.flag {
		width: 16px;
		margin-right: 5px;
	}
}

.homepage h3 {
	font-size: 36px;
	font-weight: bold;
}

.yellow-before img {
	width: 100%;
}

.dropdown-content div {
	display: block;
	a:hover {
		cursor: pointer;
	}
}

.umbrella-row {
	margin: 40px 0;
	.number {
		position: absolute;
		font-size: 400px;
		font-weight: 900;
		color: $c_gray;
		top: -50px;
		z-index: -1;
	}
	.umbrella-text {
		margin-top: 225px;
		position: relative;	
		.tool {
			width: 37px;
			height: 12px;
			font-family: Montserrat;
			font-size: 10px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 2.4px;
			text-align: center;
			color: #ffffff;
			}
		h1 {
			font-weight: bold;
			color: $c_log_cabin;
		}
		p {
			margin-top: 25px;
			color: $c_mountain_mist;
			font-size: 14px;
			width: 375;
		}
	}
	&.umbrella-row-left {
		.number {
			right: -50px;
		}
		.umbrella-text {
			text-align: right;
			margin-right: 75px;
		}
	}
	&.umbrella-row-right {
		text-align: right;
		.umbrella-text {
			text-align: left;
		}
		.number {
			left: -50px;
		}
	}
}

.gradient-parent { 
	width: 100%;
	margin-right: 0;
	margin-left: 0;	
	.gradient-box {
		display: inline-block;
		height: 365px;
		padding: 80px;
		.gradient-content {
			max-width: 400px;
		}
		&.red {
			background-image: linear-gradient(to bottom, $c_charm, $c_night_shadz);
			.gradient-content {
				float: right;
			}
		}
		&.blue {
			background-image: linear-gradient(to bottom, $c_cornflower, $c_shakespeare);
			.gradient-content {
				float: left;
			}
		}
		.organisation {
			font-family: Montserrat;
			font-size: 12px;
			font-weight: bold;
			letter-spacing: 2.4px;
			color: $c_white;
			text-transform: uppercase;
		}
		h2 {
			font-size: 22px;
			font-weight: bold;
			line-height: 1.45;
			color: $c_log_cabin;
			margin-bottom: 50px;
		}
		p {
			margin-bottom: 50px;
			color: $c_white;
			font-size: 14px;
		}
	}
}

.tent-text {
	margin-bottom: 180px;
	h3 {
		margin-top: 60px;
	}
	p {
		margin: 40px 0;
	}
}
.get-umbrella {
	background-image: linear-gradient(to bottom, $c_energy_yellow, $c_saffron);
	height: 500px;
	h1 {
		padding-top: 130px;
		height: auto;
	}
	.logo img {
		margin: 135px 150px;
	}
}

.section-gray {
	background-color: #f7f7f7;
	padding: 100px 0;
}

.overflow-col {
	margin: -20px;

}

.yellow4 {
	background-color: #e5bd30;
	text-align: center;
	padding: 50px 60px 80px;
}

.blue4 {
	background-color: #76b6d8;
	text-align: center;
	padding: 50px 60px 80px;}

.green4 {
	background-color: #87bd34;
	text-align: center;
	padding: 50px 60px;
}

.pink4 {
	background-color: #a04056;
	text-align: center;
	padding: 50px 60px;
}

.grey {
	color: #888888;
}

.green {
	color: #87bd34;
}

.uppercase {
	text-transform: uppercase;
	font-size:14px;
	font-weight: bold;
}

.spacer-bottom70 {
	margin-bottom: 70px;
}

.white {
	color: #fff;
}