body {
  height: 100%;
  font-family: Lato, sans-serif;
  min-height: auto; }
  body .header {
    min-height: 60px;
    background-color: #000BE5; }
    body .header .navbar-brand {
      font-family: Lato;
      font-size: 24px;
      font-weight: bold;
      color: #4a4a4a; }
    body .header .navbar-light .navbar-nav .nav-link {
      font-family: Lato;
      font-size: 12px;
      font-weight: bold;
      color: white;
      text-transform: uppercase; }
    body .header .navbar-light .navbar-nav .active .nav-link {
      color: #4a4a4a; }
    body .header .dropdown-menu a {
      font-size: 12px;
      color: #4a4a4a; }
  body .intro {
    background-image: linear-gradient(to bottom, #000BE5, #0093BF);
    padding: 0 0 0 20px; }
  body.landing .header {
    background-color: #dd6790; }
  body.landing .intro {
    background-image: linear-gradient(to bottom, #dd6790, #b83657); }
  body.umbrella .header {
    background-color: #f4e05e; }
  body.umbrella .intro {
    background-image: linear-gradient(to bottom, #f4e05e, #f3bc2b); }
  body.tent .header {
    background-color: rgba(135, 189, 52, 0.73); }
  body.tent .intro {
    background-image: linear-gradient(to bottom, rgba(135, 189, 52, 0.73), #87bd34); }

img {
  max-width: 100%; }

.btn-spaced {
  margin-top: 20px; }

.intro h1, .get-umbrella h1 {
  font-size: 48px;
  font-weight: bold;
  color: white;
  margin: 50px 0; }
.intro .home-description, .get-umbrella .home-description {
  font-family: Lato;
  font-size: 18px;
  color: white;
  line-height: 1.8; }
.intro .download, .get-umbrella .download {
  font-family: Lato;
  font-size: 10px;
  padding: 10px 0;
  color: white;
  text-transform: uppercase;
  font-weight: bold; }
.intro .list-inline-item, .get-umbrella .list-inline-item {
  margin-right: 30px; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.spacer-top150 {
  margin-top: 150px; }

.spacer-top100 {
  margin-top: 100px; }

.spacer-bottom150 {
  margin-bottom: 150px; }

.spacer-bottom30 {
  margin-bottom: 30px; }

.spacer-top30 {
  margin-top: 30px; }

.spacer-top70 {
  padding-top: 70px; }

.spacer-bottom400 {
  margin-bottom: 400px; }

.spacer-bottom200 {
  margin-bottom: 200px; }

.stores {
  padding: 20px 0;
  margin-bottom: 100px; }
  .stores .row {
    padding: 0 20px; }
  .stores img {
    margin-bottom: 20px; }

.hero-app {
  position: absolute;
  right: 0;
  top: 50px; }

.app-name {
  font-family: Lato;
  font-size: 65px;
  font-weight: bold;
  color: #9b9b9b;
  text-align: center; }
  .app-name span {
    padding: 0 20px;
    display: inline-block;
    vertical-align: text-top; }

.newsletter {
  background-color: #f7f7f7;
  padding: 100px 0;
  background-image: url(../imgs/newsletter.png);
  background-repeat: no-repeat;
  background-position: center; }

.mask {
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.35);
  padding: 30px; }

.copy {
  color: #555;
  padding: 20px 0;
  border-top: #2c2c2c 1px solid; }

.btn-primary {
  border-radius: 22.5px;
  background-color: #87bd34;
  border: #87bd34 1px solid;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.35);
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  padding: 10px 20px; }

.btn-white {
  border-radius: 22.5px;
  background-color: #ffffff;
  border: #ffffff 1px solid;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.35);
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  padding: 10px 20px; }

.btn {
  border-radius: 1.5rem; }

.data {
  text-align: center;
  color: #979797; }

.text-center {
  text-align: center; }

.yellow {
  background-color: #f3bc2b;
  padding-bottom: 70px; }

footer {
  background-color: #222222;
  color: #9b9b9b;
  font-size: 14px;
  min-height: 200px; }
  footer h5 {
    text-transform: capitalize; }
  footer li {
    text-transform: capitalize; }
  footer ul {
    padding: 0; }
    footer ul li {
      list-style-type: none;
      list-style: none; }

.fab {
  color: #f3bc2b;
  font-size: 30px;
  padding: 20px; }

.content {
  margin-top: 50px;
  margin-bottom: 50px; }

.dropdown {
  position: relative;
  display: inline-block; }
  .dropdown .dropdown-content {
    display: none;
    padding: 0;
    position: absolute;
    z-index: 1;
    text-align: right; }
  .dropdown:hover .dropdown-content {
    display: block; }
  .dropdown img.flag {
    width: 16px;
    margin-right: 5px; }

.homepage h3 {
  font-size: 36px;
  font-weight: bold; }

.yellow-before img {
  width: 100%; }

.dropdown-content div {
  display: block; }
  .dropdown-content div a:hover {
    cursor: pointer; }

.umbrella-row {
  margin: 40px 0; }
  .umbrella-row .number {
    position: absolute;
    font-size: 400px;
    font-weight: 900;
    color: #eeeeee;
    top: -50px;
    z-index: -1; }
  .umbrella-row .umbrella-text {
    margin-top: 225px;
    position: relative; }
    .umbrella-row .umbrella-text .tool {
      width: 37px;
      height: 12px;
      font-family: Montserrat;
      font-size: 10px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 2.4px;
      text-align: center;
      color: #ffffff; }
    .umbrella-row .umbrella-text h1 {
      font-weight: bold;
      color: #222222; }
    .umbrella-row .umbrella-text p {
      margin-top: 25px;
      color: #979797;
      font-size: 14px;
      width: 375; }
  .umbrella-row.umbrella-row-left .number {
    right: -50px; }
  .umbrella-row.umbrella-row-left .umbrella-text {
    text-align: right;
    margin-right: 75px; }
  .umbrella-row.umbrella-row-right {
    text-align: right; }
    .umbrella-row.umbrella-row-right .umbrella-text {
      text-align: left; }
    .umbrella-row.umbrella-row-right .number {
      left: -50px; }

.gradient-parent {
  width: 100%;
  margin-right: 0;
  margin-left: 0; }
  .gradient-parent .gradient-box {
    display: inline-block;
    height: 365px;
    padding: 80px; }
    .gradient-parent .gradient-box .gradient-content {
      max-width: 400px; }
    .gradient-parent .gradient-box.red {
      background-image: linear-gradient(to bottom, #dd6790, #b83657); }
      .gradient-parent .gradient-box.red .gradient-content {
        float: right; }
    .gradient-parent .gradient-box.blue {
      background-image: linear-gradient(to bottom, #94d5e8, #48b8d8); }
      .gradient-parent .gradient-box.blue .gradient-content {
        float: left; }
    .gradient-parent .gradient-box .organisation {
      font-family: Montserrat;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 2.4px;
      color: white;
      text-transform: uppercase; }
    .gradient-parent .gradient-box h2 {
      font-size: 22px;
      font-weight: bold;
      line-height: 1.45;
      color: #222222;
      margin-bottom: 50px; }
    .gradient-parent .gradient-box p {
      margin-bottom: 50px;
      color: white;
      font-size: 14px; }

.tent-text {
  margin-bottom: 180px; }
  .tent-text h3 {
    margin-top: 60px; }
  .tent-text p {
    margin: 40px 0; }

.get-umbrella {
  background-image: linear-gradient(to bottom, #f4e05e, #f3bc2b);
  height: 500px; }
  .get-umbrella h1 {
    padding-top: 130px;
    height: auto; }
  .get-umbrella .logo img {
    margin: 135px 150px; }

.section-gray {
  background-color: #f7f7f7;
  padding: 100px 0; }

.overflow-col {
  margin: -20px; }

.yellow4 {
  background-color: #e5bd30;
  text-align: center;
  padding: 50px 60px 80px; }

.blue4 {
  background-color: #76b6d8;
  text-align: center;
  padding: 50px 60px 80px; }

.green4 {
  background-color: #87bd34;
  text-align: center;
  padding: 50px 60px; }

.pink4 {
  background-color: #a04056;
  text-align: center;
  padding: 50px 60px; }

.grey {
  color: #888888; }

.green {
  color: #87bd34; }

.uppercase {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold; }

.spacer-bottom70 {
  margin-bottom: 70px; }

.white {
  color: #fff; }

/*# sourceMappingURL=style.css.map */
