//colors
$c_charm: #dd6790;
$c_night_shadz: #b83657;
$c_blue: #000BE5;
$c_bondi_blue: #0093BF;
$c_white: white;
$c_gravel: #4a4a4a;
$c_star_dust: #9b9b9b;
$c_black_haze: #f7f7f7;
$black_35: rgba(0, 0, 0, 0.35);
$c_fuscous_gray: #555;
$c_heavy_metal: #2c2c2c;
$c_sushi: #87bd34;
$c_mountain_mist: #979797;
$c_energy_yellow: #f4e05e;
$c_saffron: #f3bc2b;
$c_log_cabin: #222222;
$c_gray: #eeeeee;

//fonts
$f_0: Lato;
$f_1: sans-serif;
//urls
$u_0: url(../imgs/newsletter.png);